@font-face {
    font-family: 'glober';
    src: url('../fonts/fontfabric_glober.regular-webfont.eot');
    src: url('../fonts/fontfabric_glober.regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontfabric_glober.regular-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_glober.regular-webfont.woff') format('woff'),
         url('../fonts/fontfabric_glober.regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
/*
@font-face {
    font-family: 'glober';
    src: url('../fonts/fontfabric_glober.light-webfont.eot');
    src: url('../fonts/fontfabric_glober.light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontfabric_glober.light-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_glober.light-webfont.woff') format('woff'),
         url('../fonts/fontfabric_glober.light-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}
*/
@font-face {
    font-family: 'glober';
    src: url('../fonts/fontfabric_glober.semi.bold-webfont.eot');
    src: url('../fonts/fontfabric_glober.semi.bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontfabric_glober.semi.bold-webfont.woff2') format('woff2'),
         url('../fonts/fontfabric_glober.semi.bold-webfont.woff') format('woff'),
         url('../fonts/fontfabric_glober.semi.bold-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'pf_din';
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot');
    src: url('../fonts/pfdintextcomppro-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/pfdintextcomppro-regular-webfont.woff2') format('woff2'),
         url('../fonts/pfdintextcomppro-regular-webfont.woff') format('woff'),
         url('../fonts/pfdintextcomppro-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/**/

a {color:#0e7bc0;-webkit-transition:color 100ms linear, border-color 100ms linear, background-color 100ms linear, opacity 100ms linear;-moz-transition:color 100ms linear, border-color 100ms linear, background-color 100ms linear, opacity 100ms linear;-o-transition:color 100ms linear, border-color 100ms linear, background-color 100ms linear, opacity 100ms linear;transition:color 100ms linear, border-color 100ms linear, background-color 100ms linear, opacity 100ms linear;}
a:hover {color:#115ea3;}
a:before,a:after {-webkit-transition:color 100ms linear, border-color 100ms linear, background-color 100ms linear, opacity 100ms linear;-moz-transition:color 100ms linear, border-color 100ms linear, background-color 100ms linear, opacity 100ms linear;-o-transition:color 100ms linear, border-color 100ms linear, background-color 100ms linear, opacity 100ms linear;transition:color 100ms linear, border-color 100ms linear, background-color 100ms linear, opacity 100ms linear;}

.icons {display:inline-block;vertical-align:middle;background: url(../i/icons.png) 0 0 no-repeat;font-size:0;}

body {font-family: 'glober', sans-serif;font-size:14px;line-height:1.5;color:#2a2a2a;}

#wrapper {width:100%;overflow:hidden;position:relative;}

.container {position:relative;}

.content .container {padding-top:45px;padding-bottom:80px;}


.head {background: url(../i/head.jpg) 50% 0 no-repeat;background-size:cover;color:#fff;position:relative;z-index:20;}
.head a {color:#fff;}
.head .top {}
.head .top .container {padding-top:38px;padding-bottom:28px;}
.head .bot {background-color:rgba(0,0,0,0.2);font-size:17px;font-weight:bold;}
.head .bot .row > div {border-right:1px solid rgba(255,255,255,0.15);}
.head .bot .row > div:last-child {border-right:0}
.head .bot .row > div:nth-child(1) {text-align:left;}
.head .bot .row > div:nth-child(2) {text-align:center;}
.head .bot .row > div:nth-child(3) {text-align:right;}
.head .bot a {display:block;text-decoration:none;line-height:36px;padding:10px 0px 11px 0px;}
.head .bot a .icons {margin-top:-7px;margin-right:12px;}
.head .bot a:hover {text-decoration:underline;}
.head .logo {position:relative;z-index:50;}
.head .phone {position:relative;z-index:50;font-size:22px;font-weight:bold;line-height:30px;}
.head .phone .icons {vertical-align:top;margin-right:5px;}
.head .phone a {text-decoration:none;}

.head .content .container {padding-bottom:50px;}
.head .content .text p.big {color:#fff;}
.head .sidebar ul li a {color:#fff;}
.head .sidebar ul li a:hover,
.head .sidebar ul li.active > a {color:#a6e7ff;}
.head .back a {color:#fff;opacity:0.7;}
.head .back a span {color:#fff;}
.head .back a:hover {opacity:1;}

@media (max-width : 767px) {
    .head .content .container {padding-bottom:20px;}
}

.num {line-height:1;}
.num-top {font-family:'pf_din',sans-serif;font-size:44px;border-bottom:2px solid currentColor;margin-bottom:10px;padding-bottom:9px;position:relative;}
.num-top span {font-size:94px;}
.num-top em {font-style:normal;margin-right:7px;}
.num-top strong {font-weight:normal;position:absolute;top:10px;font-size:30px;text-transform:uppercase;}
.num-bot {font-weight:bold;line-height:1.1;}

@media (min-width : 768px) and (max-width : 991px) {
    .nums > div:last-child .num {margin-bottom:0;}
	.num {line-height:1;margin-bottom:30px;}
}

body.home .head .bot {background-color:transparent;}
body.home .head .bot .row {margin-left:0px;margin-right:0;}
body.home .head .bot .row > div {border-right:0;padding-left:0;padding-right:0;}
body.home .head .bot .row > div > a > div {text-align:left;display:inline-block;vertical-align:top;font-size:22px;}
body.home .head .bot .row span {display:block;font-size:12px;color:#b6e6f8;line-height:1.5;clear:both;margin-top:17px;width:260px;}
body.home .head .bot a {line-height:normal;line-height:1.17;padding-top:38px;padding-bottom:38px;}
body.home .head .bot a:hover {text-decoration:none;color:#033f87;background-color:#fff;}
body.home .head .bot a:hover span {color:#0f599d;}
body.home .head .bot a:hover .icons.icon-service-1 {background-position:0 -212px;}
body.home .head .bot a:hover .icons.icon-service-2 {background-position:-87px -212px;}
body.home .head .bot a:hover .icons.icon-service-3 {background-position:-176px -212px;}
body.home .head .bot .icons {float:left;margin-top:-6px;}
body.home .head .bot .row > div:nth-child(1) a:before {content:'';position:absolute;display:block;right:100%;top:0;height:100%;width:2000px;background-color:transparent;}
body.home .head .bot .row > div:nth-child(3) a:before {content:'';position:absolute;display:block;left:100%;top:0;height:100%;width:2000px;background-color:transparent;}
body.home .head .bot .row > div:nth-child(1) a:hover:before {background-color:#fff;}
body.home .head .bot .row > div:nth-child(3) a:hover:before {background-color:#fff;}

@media (min-width : 992px) {
	.head .menu {text-align:center;position:relative;z-index:20;display:block !important;}
	.head .menu li {font-size:15px;display:inline-block;vertical-align:top;margin:0px 10px;position:relative;}
	.head .menu li a {text-decoration:none;display:inline-block;height:32px;line-height:31px;padding:0px 15px 0px 15px;}
	.head .menu > ul > li.active > a,
	.head .menu > ul > li:hover > a {background-color:#033E85;}
	.head .menu > ul > li > a:after {width:8px;height:4px;content:'';display:inline-block;background: url(../i/icons.png) 0 -69px no-repeat;margin-left:8px;margin-right:-4px;position:relative;top:-2px}
    .head .menu > ul > li > a:only-child:after {display:none;}
	.head .menu li ul {display:none;position:absolute;left:0;top:100%;background-color:#fff;padding:14px 10px 15px 10px;border-top-left-radius: 0;}
	.head .menu li ul li {display:block;text-align:left;margin:0px 0px 0px 0px;white-space:nowrap;font-size:14px;}
    .head .menu li ul li:last-child {margin-bottom:0;}
	.head .menu li ul li a {color:#033e85;height:auto;line-height:normal;display:block;padding-top:9px;padding-bottom:10px;}
    .head .menu li ul li a:hover,
	.head .menu li ul li.active > a {color:#0e7bc0;}
	.head .menu li:hover ul {display:block;}
}

.burger {display:none;cursor:pointer;height:30px;width:30px;position:absolute;right:15px;bottom:16px;z-index:100;}
.burger a {display:block;width:100%;height:100%;position:relative;z-index:2;}
.burger:before {content: "";position: absolute;left: 0;top: 0;width: 100%;height:100%;background: -moz-linear-gradient(white 0%, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%);background: -webkit-linear-gradient(top, white 0%,white 20%,transparent 20%,transparent 40%, white 40%, white 60%,transparent 60%, transparent 80%,white 80%, white 100%);background: -o-linear-gradient(white 0%, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%);background: -ms-linear-gradient(white 0%, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%);background: linear-gradient(white 0%, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%);}

h1 {font-size:31px;font-weight:bold;margin:0px 0px 18px 0px;line-height:1.25;}
h2 {font-size:25px;font-weight:bold;margin:0px 0px 18px 0px;line-height:1.2;}
h3 {font-size:22px;font-weight:bold;margin:0px 0px 18px 0px;line-height:1.3;}
h4 {font-size:19px;font-weight:bold;margin:0px 0px 18px 0px;line-height:1.3;}
h5 {font-size:17px;font-weight:bold;margin:0px 0px 18px 0px;line-height:1.3;}
h6 {font-size:14px;font-weight:bold;margin:0px 0px 18px 0px;line-height:1.3;}

.text {margin-bottom:40px;position:relative;}
.text:last-child {margin-bottom:0;}
.text p {line-height:1.9;margin:0px 0px 22px 0px;}
.text p:last-child {margin-bottom:0;}
.text p.big {font-size:24px;line-height:1.4;color:#939393;}
.text p.small {font-size:13px;line-height:1.7;color:#939393;}
.text ul {margin-bottom:22px;}
.text ul:last-child {margin-bottom:0;}
.text ol {margin-bottom:22px;}
.text ol:last-child {margin-bottom:0;}
.text ol {list-style-type:decimal;margin-left:15px;}
.text p + ul {margin-top:-21px;}
.text p + ol {margin-top:-21px;}
.text li {margin-bottom:4px;margin-left:10px;position:relative;}
.text ul li:before {content:'';position:absolute;display:block;width:3px;height:3px;font-size:0;left:-8px;top:10px;background: url(../i/icons.png) 0 -22px no-repeat;}
.text table {display:table !important;height:auto !important;width:auto !important;margin-top:30px;margin-bottom:30px;font-size:13px;}
.text table:first-child {margin-top:0;}
.text table:last-child {margin-bottom:0;}
.text .table-responsive {margin-top:30px;margin-bottom:30px;}
.text .table-responsive:first-child {margin-top:0;}
.text .table-responsive:last-child {margin-bottom:0;}
.text table th {padding:10px 15px 13px 15px;text-transform:uppercase;font-size:11px;text-align:left;font-weight:normal;color:#939393;}
.text table td {padding:10px 15px 10px 15px;}
.text table tbody tr:nth-child(odd) td {background-color:#F4F4F4;}
.text table .tbl-num {font-size:18px;font-weight:bold;}




.back {margin-bottom:27px;font-size:18px;padding-top:7px;}
.back a {text-decoration:none;color:#0e7bc0;}
.back span {color:#888;font-size:12px;margin-left:8px;}

.sidebar:first-child {padding-top:10px;}
.sidebar ul {margin:0px;padding:0px;}
.sidebar ul li {margin:0px;padding:0px;margin-bottom:16px;}
.sidebar ul li:before {display:none;}
.sidebar ul li a {color:#2a2a2a;}
.sidebar ul li a:hover {color:#0e7bc0;}
.sidebar > ul > li.active > a {color:#0e7bc0;font-weight:bold;}

.news-list {margin-bottom:40px;position:relative;}
.news-list:last-child {margin-bottom:0;}
.news-list h3 {margin-bottom:23px;}
.news-list h3 span {font-weight:bold;font-size:14px;letter-spacing:0.03em;margin-left:20px;}
.news-list h3 a {color:#6B6B6B;}
.news-list .pic {margin-bottom:16px;}
.news-list .title {font-size:16px;font-weight:bold;line-height:1.43;margin-bottom:11px;}
.news-list .title a {text-decoration:none;color:#023776;}
.news-list .title a:hover {text-decoration:underline;}
.news-list .date {font-size:14px;color:#676767;}

.clients-list {margin-bottom:40px;position:relative;}
.clients-list h3 {margin-bottom:25px;}
.clients-list:last-child {margin-bottom:0;}
.clients-list ul {margin-bottom:-25px;}
.clients-list ul li {display:inline-block;vertical-align:middle;margin-right:30px;margin-bottom:25px;}

.person {}
.person .pic {margin-bottom:16px;}
.person .name {font-size:24px;line-height:1.15;margin-bottom:7px;}
.person .who {font-size:15px;color:#969696;}

.iblock {font-size:0;}
.iblock > div {font-size:14px;display:inline-block;vertical-align:middle;float:none;}

.license {font-size:12px;margin-bottom:-35px;margin-top:30px;}
.license span {display:block;}
.license a {text-decoration:none;color:#115ea3;}
.license a:hover {text-decoration:underline;color:#0e7bc0;}
.license .pic {text-align:center;margin-bottom:11px;}
.license .title {text-align:center;font-size:12px;line-height:1.415;max-width:160px;margin-left:auto;margin-right:auto;}
.license .row > div {margin-bottom:35px;}

.disclosure {margin-top:30px;font-size:13px;}
.disclosure .one {border-bottom:1px solid #DBDBDB;padding-bottom:24px;margin-bottom:25px;}
.disclosure .one:last-child {margin-bottom:0;padding-bottom:0;border:0;}
.disclosure .year {font-size:24px;margin-bottom:10px;}
.disclosure a {text-decoration:none;color:#115ea3;}
.disclosure a:hover {text-decoration:underline;color:#0e7bc0;}
.disclosure ul li {margin-bottom:9px;}
.disclosure ul li:before {top:8px;}

.rate-content {margin-top:30px;margin-bottom:30px;}
.rate-content.loading {opacity:0.5;cursor:default;}
.rate-btn {white-space:nowrap;text-decoration:none;border-bottom:1px dotted #0e7bc0;}
.rate-btn:hover {border-color:#115ea3}
.rate-tip {display:none;position:absolute;left:0;top:0;background-color:#EBEBEB;padding:25px 25px 25px 25px;width:250px;z-index:1000;}
.rate-tip:after {bottom: 100%;left: 50%;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(235, 235, 235, 0);border-bottom-color: #EBEBEB;border-width: 13px;margin-left: -13px;}
.rate-tip .btn {display:block;width:100%;text-align:center;}
.rate-tip .one {margin-bottom:12px;}

.overlay {position:absolute;left:0;top:0;width:100%;height:100%;z-index:999;background-color:rgba(0,23,63,.23);display:none;}
.mfp-bg {background-color:rgba(0,23,63,.23);opacity:1;}
.mfp-close {opacity:1;}
.mfp-close-btn-in .mfp-close {}

.popup {background-color:#EBEBEB;padding:20px 30px 35px 30px;margin-left:auto;margin-right:auto;position:relative;}
.popup h2 {margin-bottom:20px;}
#popup_register {width:335px;}

.clients {margin-top:30px;margin-bottom:-30px;}
.clients .login {background-color:#F4F4F4;padding:25px 20px 20px 20px;}
.clients .login .forget {margin-left:20px;}
.clients .register p {color:#939393;margin-bottom:17px;line-height:1.85;}
.clients .register h3 {margin-bottom:10px;}
.clients .row > div {margin-bottom:30px;}


form {}
form input[type="text"],
form input[type="password"],
form textarea,
form select {width:100%;border:1px solid #D2D2D2;font-size:13px;color:#878787;background:#fff;padding:0px 10px 0px 10px;height:34px;font-family: 'glober', sans-serif;color:#2a2a2a;border-radius:0;}
form textarea {height:150px;padding:8px 10px 8px 10px;}
form .one {margin-bottom:15px;}
form .one:last-child {margin-bottom:0;}
form .one.submit {margin-top:20px;}
form select {padding:0px 5px;}
form label {display:block;font-size:13px;margin-bottom:3px;}
.btn {height:40px;display:inline-block;border-radius:0;text-decoration:none;line-height:38px;cursor:pointer;letter-spacing:0.015em;padding:0px 50px 0px 50px;border:none;background-color:#0E7BC0;color:#fff !important;font-family: 'glober', sans-serif;font-weight:bold;font-size:15px;border-bottom:2px solid #00307F;-webkit-appearance:none;}
.btn:hover {background-color:#6BA2CE;}

.docs {margin-top:30px;font-size:13px;margin-bottom:-5px;}
.docs .row {margin-left:-5px;margin-right:-5px;}
.docs .row > div {padding-left:5px;padding-right:5px;}
.docs .one {background-color:#F4F4F4;margin-bottom:10px;padding:19px 30px 19px 50px;position:relative;}
.docs .one .title {margin-bottom:12px;}
.docs .one .title a {color:#2a2a2a;}
.docs .one .title a:hover {color:#115ea3;}
.docs .one .meta {color:#929292;}
.docs .one:before {position:absolute;content:'';left:24px;top:21px;display:block;width:14px;height:18px;background: url(../i/icons.png) 0 -280px no-repeat;}

.news {margin-top:30px;}
.news .one {margin-bottom:40px;}
.news .one .date {font-size:13px;color:#898989;margin-bottom:3px;}
.news .one .title {font-size:20px;line-height:1.4;margin-bottom:2px;}
.news .one .title a {text-decoration:none;color:#115ea3;}
.news .one .title a:hover {text-decoration:underline;color:#0e7bc0;}
.news .one p {line-height:1.65;}

.pager {font-size:20px;font-weight:bold;color:#797979;margin-top:40px;}
.pager a {color:#797979;text-decoration:none;margin:0px 9px;}
.pager span.dots {margin:0px 5px;}
.pager a.active {color:#0e7bc0;cursor:default;}
.pager a:hover {color:#0e7bc0;}
.pager a.arr {opacity:0.3;}
.pager a.arr:hover {opacity:1;}
.pager a.arr:before {display:inline-block;content:'';font-size:0;width:6px;height:11px;background: url(../i/icons.png) 0 0 no-repeat;position:relative;top:-1px;}
.pager a.arr.prev {margin-left:0;margin-right:20px;}
.pager a.arr.prev:before {background-position:-18px -306px;}
.pager a.arr.next {margin-right:0;margin-left:20px;}
.pager a.arr.next:before {background-position:0 -306px;}

.contact {position:relative;}
.contact #map {height:690px;}
.contact ymaps[class*="ground-pane"] {-webkit-filter: grayscale(100%);}
.contact .legend {padding:30px 55px 45px 55px;width:470px;font-size:22px;position:absolute;left:0;top:0;background-color:#fff;border-right:1px solid #D9D9D9;border-bottom:1px solid #D9D9D9;z-index:1;}
.contact .legend p {margin:0px 0px 12px 0px;color:#737373;line-height:1.3;}
.contact .legend p:last-child {margin-bottom:0;}
.contact .legend p span {color:#111;}
.contact .legend a {color:#0e5a9f;}
.contact .legend a:hover {color:#0e7bc0;}

.services {margin-top:30px;}
.services .row {margin:0px;}
.services .row > div {padding:0px;position:relative;}
.services .pic {height:405px;}
.services .txt {height:405px;background-color:#F4F4F4;position:relative;}
@media (min-width : 992px) {
	.services .txt:after {right: 100%;top: 60px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(136, 183, 213, 0);border-right-color: #F4F4F4;border-width: 13px;}
}
@media (max-width : 991px) {
	.services .txt:after {bottom: 100%;left: 40px;border: solid transparent;content: " ";height: 0;width: 0;position: absolute;pointer-events: none;border-color: rgba(244, 244, 244, 0);border-bottom-color: #F4F4F4;border-width: 13px;}
}
.services .txt .one {position:absolute;width:100%;left:0;top:0;padding:55px 35px 40px 35px;}
.services .txt h2 {font-size:27px;}
.services .txt h2 a {color:#2a2a2a;text-decoration:none;}
.services .moar {font-size:19px;font-weight:bold;}
.services .moar a {text-decoration:none;color:#1162aa;}
.services .moar a:hover {color:#0e7bc0;}
.services .one {display:none;}
.services .one:first-child {display:block;position:relative;}
.services .nav {position:absolute;right:0;top:0;}
.services .nav a {display:block;width:40px;font-size:0;height:40px;line-height:40px;float:left;background-color:#0F6CB5;color:#fff;text-align:center;text-decoration:none;}
.services .nav a:hover {background-color:#6BA2CE;}
.services .nav a i {vertical-align:middle;}

.service-1 {padding-left:100px;padding-top:25px;}
.service-1 h2 {font-size:31px;color:#0767ac;margin-bottom:16px;}
.service-1 .one {padding-bottom:63px;position:relative;}
.service-1 .one img {position:absolute;max-width:none;}
.service-1 .one:last-child {padding-bottom:0;}
.service-1 .one:after {content:'';margin-top:42px;display:block;width:104px;height:1px;font-size:0;background-color:#B4B5B5;}
.service-1 .one:before {content:'';position:absolute;left:-68px;font-size:0;top:0;height:100%;width:6px;background: url(../i/service-1-dots.png) 0 2px repeat-y;}
.service-1 .one:last-child:before {display:none;}
.service-1 .number {position:absolute;left:-100px;top:-17px;width:70px;height:70px;border:1px solid #1277bd;border-radius:50%;background-color:#fff;text-align:center;font-size:37px;line-height:65px;font-weight:bold;color:#BACEE4;}
.service-1 .one-1 {padding-right:270px;}
.service-1 .one-1 img {right:-550px;top:-30px;}
.service-1 .one-2 {padding-left:305px;}
.service-1 .one-2 img {left:0px;top:0px;}
.service-1 .one-3 {padding-right:240px;}
.service-1 .one-3 img {right:-80px;top:-15px;}

@media (max-width : 767px) {
    .service-1 {padding-left:85px;}
    .service-1 .number {left:-85px;}
    .service-1 .one:before {left:-53px;}
    .service-1 .one {padding-left:0px;padding-right:0px;}
    .service-1 .one img {display:none;}
}

.service-2 {}
.service-2 .row {margin:0px;color:#fff;}
.service-2 .row > div {padding:0px;background-color:#0267B3;padding:25px 30px 25px 30px;}

.service-2 .icon {margin-bottom:13px;height:55px;}
.service-2 .icon img {vertical-align:middle;}

@media (min-width : 992px) {
    .service-2 .row > div:nth-child(even) {background-color:#198ACF;}
}
@media (min-width : 501px) and (max-width : 991px) {
	.service-2 .row > div:nth-child(4n-2), .service-2 .row > div:nth-child(4n-1) {
        background-color:#198ACF;
	}
}

@media (max-width : 500px) {
    .service-2 .row > div {width:100%;}
    .service-2 .row > div:nth-child(even) {background-color:#198ACF;}
}

.text .service-3 p + ul {margin-top:0;}
.text .service-3 li {margin-bottom:22px;}
@media (max-width : 601px) {
	.service-3 .row .row > div {width:100%;}
}
.service-3-bg {position:relative;min-height:100px;}
.service-3-bg img {position:absolute;right:0;top:110px;max-width:none;}

.toggle {margin-bottom:40px;}
.toggle > p {font-size:17px;line-height:1.7;}
.toggle .toggle-hidden {display:none;}
.toggle .toggle-btn {margin-bottom:22px;font-size:15px;}
.toggle .toggle-btn a {background-color:#EAEAEA;color:#5d5d5d;text-decoration:none;display:inline-block;padding:0px 25px 0px 35px;height:38px;line-height:35px;}
.toggle .toggle-btn a:after {content:'';width:8px;height:4px;font-size:0;display:inline-block;position:relative;top:-1px;background: url(../i/icons.png) 0 -366px no-repeat;margin-left:12px;}
.toggle .toggle-btn a.active:after {-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);transform: rotate(180deg);}

.royalSlider.rsServices {width:100%;height:100%;}
.royalSlider.rsServices .grab-cursor, .royalSlider.rsServices .grabbing-cursor {cursor:auto;}

.footer {padding:43px 0px 70px 0px;font-size:13px;background: url(../i/footer.jpg) 50% 0 no-repeat;background-size:cover;color:#fff;}
.footer a {color:#fff;text-decoration:none;}
.footer a:hover {text-decoration:underline;}
.footer .fcopy {margin-bottom:14px;padding-top:2px;}
.footer .fcont {color:#a4c7f1;margin-bottom:14px;}
.footer .fcont a {color:#a4c7f1;}
.footer .fcont span {margin-right:25px;}
.footer .fcont .icons.icon-phone {margin-top:-5px;margin-right:5px;}
.footer .fcont .icons.icon-email {margin-top:-6px;margin-right:5px;}
.footer .fdev {font-weight:bold;}
.footer .fmenu {font-size:0;}
.footer .fmenu li {margin-bottom:11px;}
.footer .fmenu li:last-child {margin-bottom:0;}
.footer .fmenu li a {color:#a4c7f1;}
.footer .fmenu > ul {text-align:justify;text-justify: newspaper;}
.footer .fmenu > ul > li {font-size:12px;display:inline-block;vertical-align:top;margin-bottom:0;text-align:left;}
.footer .fmenu > ul > li.helper {width:100%;height:0;visibility:hidden;}
.footer .fmenu > ul > li > ul {margin-top:9px;}
.footer .fmenu > ul > li > a {color:#fff;font-size:15px;font-weight:bold;}

.icons.icon-phone {background-position:0 0;width:13px;height:13px;}
.icons.icon-phone-big {background-position:0 -28px;width:29px;height:30px;}
.icons.icon-email {background-position:-29px 0;width:16px;height:12px;}
.icons.icon-service-1 {background-position:0px -80px;width:36px;height:35px;}
.icons.icon-service-2 {background-position:-47px -80px;width:43px;height:30px;}
.icons.icon-service-3 {background-position:-102px -80px;width:27px;height:36px;}
.icons.icon-prev {background-position:0 -336px;width:9px;height:15px;}
.icons.icon-next {background-position:-41px -336px;width:9px;height:15px;}

body.home .icons.icon-service-1 {background-position:0px -140px;width:53px;height:55px;}
body.home .icons.icon-service-2 {background-position:-87px -140px;width:66px;height:55px;}
body.home .icons.icon-service-3 {background-position:-176px -140px;width:40px;height:55px;}

body.home .content {background-color:#F6F6F6;}

.intro {padding:80px 0px 90px 0px;}
.intro .title {text-align:center;font-size:43px;font-weight:bold;line-height:1.2;margin-left:auto;margin-right:auto;}
@media (min-width : 1200px) {
    .intro .title {width:1000px;}
}

.bls {margin-bottom:45px;}
.bls:last-child {margin-bottom:0;}
.bls .bl {background-color:#fff;margin-bottom:6px;padding:15px 20px 15px 20px;}
.bls .bl h3 {position:relative;margin-bottom:10px;}
.bls .bl h3 span {font-size:14px;font-weight:normal;color:#A3A3A3;position:absolute;right:0;bottom:2px;white-space:nowrap;}
.bls .bl h5 {font-size:15px;margin-bottom:3px;}
.bls .bl table {width:100%;font-weight:bold;}
.bls .bl td {border-bottom:1px solid #E5E5E5;font-size:12px;padding-top:8px;padding-bottom:4px;}
.bls .bl tr:last-child td {border:none;}
.bls .bl td .bl-num {font-size:17px;margin-top:-5px;}
.bls .bl td.bl-up {color:#28a967;}
.bls .bl td.bl-down {color:#e92c58;}
.bls .bl td.bl-up span:before {display:inline-block;content:'';width:7px;height:4px;font-size:0;background: url(../i/icons.png) 0 -127px no-repeat;margin-right:4px;position:relative;top:-2px;}
.bls .bl td.bl-down span:before {display:inline-block;content:'';width:7px;height:4px;font-size:0;background: url(../i/icons.png) -11px -127px no-repeat;margin-right:4px;position:relative;top:-2px;}
.bls .bl .graph {margin-right:-10px;}
.bls .bl .legend {padding-bottom:5px;}
.bls .bl .legend > .row > div {line-height:1.1;}
.bls .bl .legend > .row > div:nth-child(1) {text-align:left;}
.bls .bl .legend > .row > div:nth-child(2) {text-align:center;}
.bls .bl .legend > .row > div:nth-child(3) {text-align:right;}
.bls .bl .legend > .row > div > div {text-align:left;display:inline-block;font-size:18px;font-weight:bold;}
.bls .bl .legend > .row > div > div > span {display:block;font-size:13px;}

.ismobile {display:none;}

.canvasjs-chart-credit {display:none;}

@media (min-width : 602px) {
    body.home .text:before {content:'';position:absolute;right:-15px;top:-15px;width:824px;height:432px;background: url(../i/russia.png) 0 0 no-repeat;}
	body.home .text > * {position:relative;}
}

@media (min-width : 992px) {
	body.home .text {padding-left:170px;}
	body.home .text > h1 {position:absolute;left:0;top:-3px;width:170px;line-height:1.09;}
}

@media (min-width : 1200px) {
    .bls .bl h3 {font-size:21px;}
    .bls .bl h3 span {font-size:12px;right:-2px;bottom:3px;}
}

@media (max-width : 1199px) {
    .head .menu li {margin:0px 5px;}
    .bls .bl {padding:20px 25px 20px 25px;}
	h1 br {display:none;}
}

@media (max-width : 991px) {
    .footer .fmenu {margin-bottom:40px;}
    .head .bot {font-size:14px;}
    .head .menu {text-align:center;display:none;position:absolute;left:-10px;right:-10px;top:100%;background-color:rgba(2,52,111,0.97);z-index:100;padding:50px 25px 60px 25px;}
    .head .menu li {margin:0px 0px 13px 0px;}
    .head .menu li ul {margin-top:11px;}
    .head .menu li li {margin-left:0px;}
    .head .menu li a {text-decoration:none;}
    .head .menu li a:hover {text-decoration:underline;}
    .head .menu > ul > li {margin-bottom:40px;}
    .head .menu > ul > li:last-child {margin-bottom:0;}
    .head .menu > ul > li > a {font-weight:bold;font-size:22px;}
    .head .menu li li a {color:#a4c7f1;font-size:18px;}
    .content .container {padding-bottom:60px;padding-top:30px;}
    .burger {display:block;}
    body.home .text:before {width:615px;height:322px;background-size:100% 100%;}
    .bls .bl {padding:15px 20px 15px 20px;}
	.contact .legend {position:relative;width:100%;border-right:0px;}
    .contact .legend p br {display:none;}
    .contact #map {height:467px;}
    .ismobile {display:block;}
    body.home .head .bot .row span {width:210px;}
    body.home .head .bot .row > div > a > div {font-size:19px;}
    body.home .head .bot .icons {margin-top:-8px;}
    body.home .head .bot .row span {margin-top:17px;}
    .clients .login .forget {display:block;margin-left:0;margin-top:20px;}
    .services .pic {height:200px;}
    .services .txt {height:auto;}
}

@media (max-width : 767px) {
    .footer .fmenu > ul {margin-bottom:-30px;}
    .footer .fmenu > ul > li {width:50%;margin-bottom:30px;}
    .news-list .row > div {margin-bottom:40px;}
    .news-list .row > div:last-child {margin-bottom:0px;}

	.r {margin-bottom:50px;}
    body.home .text:before {right:50%;margin-right:-307px;top:0;}

    .bls .bl h3 span {position:absolute;}
    .contact .legend {padding-left:15px;padding-right:15px;font-size:18px;}
    .contact #map {height:300px;}
    .intro {padding:20px 0px 65px 0px;}
    .intro .title {font-size:31px;}
	form textarea {padding-left:7px;padding-right:7px;}
}

@media (max-width : 601px) {
    .footer {padding-top:30px;padding-bottom:55px;}
    
    .head .top .container {padding-top:25px;}
    .head .logo {float:none !important;text-align:center;margin-bottom:25px;}
    .head .phone {float:none !important;text-align:left;}
    .head .phone {margin-top:0px;}
	.burger {bottom:28px;}
    .text p.big {font-size:20px;}
}


@media (min-width : 321px) and (max-width : 991px) {
    .news-list > .row > div {margin-bottom:0;}
	.news-list > .row > div:nth-child(3) {display:none;}
    
}

@media (min-width : 321px) and (max-width : 601px) {
	.person {text-align:center;}
    .contact #map {height:250px;}
}

@media (max-width : 501px) {
    .docs .row > div {width:100%;}
    .disclosure .row > div {width:100%;}

}

@media (max-width : 401px) {
    .footer .fmenu > ul > li {width:100%;}

}

@media (max-width : 320px) {
    .footer {font-size:11px;}
	.news-list .pic img,
	.person .pic img {width:100%;}
    .news-list h3 span {display:block;margin-left:0;margin-top:5px;}
    .clients-list ul {margin-bottom:0;}
    .clients-list ul li {display:block;margin-right:0;text-align:center;}
    .news-list > .row > div {width:100%;}
    .clients .row > div {width:100%;}
    .license .row > div {width:100%;}
    form input[type="text"],
	form input[type="password"],
	form textarea,
	form select {font-size:16px;}
}

