/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  /*padding-top: 50px;*/
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {

}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.timetable {
  min-width: 1400px;
  color: #000;
}
.timetable.modal {
  max-height: 700px;
}
.timetable.modal .block {
  margin-bottom: 40px;
  padding: 20px 40px 40px;
  background: #03060d;
}
.timetable.modal .block > * + * {
  margin-left: 20px;
}
.timetable h3 {
  font-size: 20px;
  margin-top: 0;
}
.timetable > div {
  padding: 20px;
}

.timetable .body {
  width: 1126px;
  /*border-bottom: 3px solid;*/
  /*height: 510px;*/
  /*background: #03060d;*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
}
.timetable .body .days {
  /*position: absolute;*/
  display: none;
  transition: opacity .25s ease;
  opacity: 0;
}
.timetable .body .days.active {
  display: block;
  transition: opacity .25s ease .25s;
  opacity: 1;
}
.timetable .body .days .quest {
  margin-left: 6.25%;
}
.timetable .body .days .quest .day {
  margin-right: 0;
  margin-left: 0;
}
.timetable .body .days .quest h3 {
  font-size: 20px;
  position: relative;
  display: block;
  height: 20px;
  margin: 40px 0 20px;
}
.timetable .body .days .quest h3 img {
  max-width: 42px;
  max-height: 42px;
  margin: -10px 10px -10px 0;
}
.timetable .body .day {
  height: 55px;
  margin: 10px;
  margin-bottom: 20px;
}
.timetable .body .day * {
/*  -webkit-transition: background .3s ease;
  -moz-transition: background .3s ease;
  -o-transition: background .3s ease;
  transition: background .3s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;*/
}
.timetable .body .day.disabled {
  /*cursor: pointer;*/
  opacity: .3;
}
.timetable .body .day.disabled .times .block .row .time:hover {
  cursor: default;
  /*background: #222835;*/
}

.timetable .body .day .times {
  float: left;
  height: 100%;
}
.timetable .body .day .times .block {
  float: left;
  height: 100%;
  margin: 0 25px;
  padding: 2px;
  /*background: #161c2a;*/
}
.timetable .body .day .times .block .row .time {
  font-size: 14px;
  line-height: 10px;
  float: left;
  width: 45px;
  margin: 1px;
  padding: 8px 0;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  /*background: #222835;*/
  border: 1px solid;
}
.timetable .body .day .times .block .row .time:hover:not(.disabled):not(.order):not(.reserve):not(.unavailable) {
  background: rgb(210, 210, 210);
  cursor: pointer;
}
.timetable .body .day .times .block .row .time.context-menu-active{
  background: rgb(210, 210, 210);

}

.timetable .body .day .times .block .row .time.disabled {
  cursor: default;
  color: #75787d;
}
.timetable .body .day .times .block .row .time.order {
  cursor: pointer;
  background: rgb(228, 18, 153);
}

.timetable .body .day .times .block .row .time.reserve {
  cursor: pointer;
  background: rgb(220, 255, 4);
}

.timetable .body .day .times .block .row .time.unavailable {
  cursor: pointer;
  background: rgb(89, 89, 89);
  color: #fff;
}

.change-template:hover {
  cursor: pointer;
  opacity: 0.5;
}

.change-template-edit:hover {
  cursor: pointer;
  opacity: 0.5;
}
/*.timetable .body .day .times .block .row .time.disabled:hover {
  color: #75787d;
  background: #222835;
}*/
.timetable .body .day .times .block.allday .time {
  margin: 1px 1.5px;
}
.timetable .body .day .times .block .price {
  font-size: 14px;
  line-height: 28px;
  display: block;
  text-align: center;
  color: #525765;
  font-weight: 800;
}
.timetable .date {
  float: left;
  width: 59px;
  height: 100%;
  margin-right: 1px;
  padding: 3px 0;
  color: #000;
}
.timetable .date span {
  font-size: 12px;
  line-height: 10px;
  display: block;
  text-align: center;
  white-space: nowrap;
}
.timetable .date span.number {
  font-size: 28px;
  font-weight: bolder;
  line-height: 28px;
}
.timetable .date.weekend {
  color: #eee9a4 !important;
}
.timetable .date.weekend span {
  color: red ;
}

}
.timetable .date.today {
  position: relative;
  /*background: #222835;*/
}

.timetable .date.today .number {
  color: #000;
  border: 1px solid;
}
.timetable .interval {
  width: 19%;
  margin: 0 .5%;
  cursor: pointer;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  text-align: center;
  color: #a7a9ae;
  background: #222835;
}
.timetable .interval.active {
  color: #fff;
  background: #ff4c22;
}
.timetable .interval.active:hover {
  background: #ff5d37;
}
.timetable .interval:hover {
  background: #151a25;
}
.timetable .interval span {
  font-size: 38px;
  font-weight: bolder;
  line-height: 50px;
  position: relative;
  display: inline-block;
  width: 46px;
  text-align: center;
}
.timetable .interval span small {
  font-size: 10px;
  position: absolute;
  top: 30px;
  left: -6%;
  width: 100%;
  text-align: center;
  white-space: nowrap;
}
.timetable .interval span.dash {
  width: 20px;
}
.timetable .interval .date {
  width: 33%;
}
.timetable .interval .date span {
  font-size: 12px;
  line-height: 20px;
  display: block;
  text-align: center;
}
.timetable .interval .date span.number {
  font-size: 28px;
  font-weight: bolder;
  line-height: 28px;
}
.timetable .interval .date.today:before {
  font-size: 14px;
  top: 25px;
  left: -10%;
}
.timetable .interval .date.active.today:before {
  color: #fff;
}
.timetable.week .head,
.timetable.week .body {
  background: none;
}
.timetable.week .body {
  margin-top: -40px;
}
.timetable.week .oneday > .interval {
  width: 13.5%;
  margin: .25%;
}
.timetable.week .oneday > .interval span {
  font-size: 12px;
  line-height: 20px;
  display: block;
  width: 100%;
  text-align: center;
  color: #5e6576;
}
.timetable.week .oneday > .interval span.number {
  font-size: 28px;
  font-weight: bolder;
  line-height: 28px;
  color: #a7a9ae;
}
.timetable.week .oneday > .interval.today span {
  width: 70px;
  margin: 0 auto;
}
.timetable.week .oneday > .interval.today:before {
  font-size: 14px;
  top: 27px;
  left: -20px;
  display: none;
}
.timetable.week .oneday > .interval.today .number {
  color: #fff;
}
.timetable.week .oneday > .interval.today .number:before {
  font-size: 14px;
  font-weight: normal;
  position: absolute;
  top: 0;
  left: -32px;
  display: block;
  content: 'сегодня';
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  color: #ff4c22;
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.timetable.week .oneday > .interval.today.active .number:before {
  color: #fff;
}
.timetable.week .oneday > .interval.active span {
  color: #fff !important;
}
.timetable.week .oneday > .interval.weekend {
  color: #eee9a4 !important;
}
.timetable.week .oneday > .interval.weekend span {
  color: #eee9a4 ;
}

#weekpicker {
    width: 180px;
}

.legend span {
  border: 1px solid;
  display: block;
  float: left;
  margin-right: 20px;
  padding: 5px;
}

.legend span.order {
  cursor: pointer;
  background: rgb(228, 18, 153);
}

.legend span.reserve {
  cursor: pointer;
  background: rgb(220, 255, 4);
}

.legend span.unavailable {
  cursor: pointer;
  background: rgb(89, 89, 89);
  color: #fff;
}

